</body>
<footer class="footer mt-auto">
    <div class="container">
        <span class="text-muted">Copyright ©️ 2022 Gourav Gulia</span>
    </div>
</footer>
<script src="https://kit.fontawesome.com/d894dde276.js" crossorigin="anonymous"></script>

</html>