<%- include('partials/header'); -%>
    <div class="container">

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, corporis similique ratione ab eius quo!
            Recusandae magni quasi provident sapiente eius hic officiis atque amet neque consequatur. Expedita, culpa
            nemo.
            Dolor quo dolore, sint sunt praesentium id illo corporis, esse distinctio enim, sapiente nobis unde harum
            dolorum voluptatem. Asperiores non labore, praesentium vitae velit sunt corporis officia iusto officiis.
            Porro
            veniam repellendus repellat ea impedit officiis maxime, libero, excepturi obcaecati veritatis quaerat.
            Tempora
            maxime nam voluptatum doloribus rerum labore provident repellat pariatur voluptas laborum perferendis
            voluptatem
            quod ad incidunt, saepe dolore dolores ipsum consequuntur. Eius neque ipsum animi explicabo pariatur.
        </p>
    </div>

    <%- include('partials/footer'); -%>