<%- include('partials/header'); -%>


    <main>
        <div class="container">
            <h1>Home</h1>
            <p>
                <%= para1 %>
            </p>
            <form action="/main" method="post">
                <button class="read">Read More</button>
            </form>
            <%posts.forEach((post)=> {%>
                <p>
                    <%=post%>
                </p>
                <form action="/main" method="post">
                    <button class="read">Read More</button>
                </form>
                <%});%>
        </div>
    </main>

    <%- include('partials/footer'); -%>