<%- include('partials/header'); -%>
    <div class="container">

        <p>
            Hey !! Thanks for reaching out !! Contact us at grvgulia007@gmail.com
        </p>
    </div>

    <%- include('partials/footer'); -%>