<%- include('partials/header1'); -%>
    <main>

        <div class="container">
            <p>
                <%= content %>
            </p>
        </div>
    </main>
    <%- include('partials/footer'); -%>