<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Blog Website</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section>
        <form action="/" method="post">
            <textarea name="blog" cols="100" rows="20" placeholder="Enter Your New Blog Here"></textarea>
            <div id="btn">
                <button type="submit" class="btn btn-outline-success">Publish</button>
                <button type="submit" class="btn btn-outline-danger" name="cancel" value="cancelled">Cancel</button>
                <button type="reset" class="btn btn-outline-dark">Clear All</button>
            </div>
        </form>
    </section>
    <%- include('partials/footer'); -%>